.Finished {
  border: 1px solid black;
  width: 450px;
}
.Finished h3 {
  text-align: center;
  color: #fff;
}
.Button {
  padding: 5px;
  border-radius: 13.3%;
  border: none;
  display: flex;
  margin: 2px 10px;
}
.btnRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.text {
  margin: 5px;
  color: #fff;
}